
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;;
}

.navegacion{
    display: flex;
    background-color: #273a4b;
    width: 99%;
    margin-left: -10px;
    margin-top: -10px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.inicio-sesion{
    height: 40px;
    width: 100px;
}

.nombre-carrito{
    color: white;
}

.contenedor-enlaces{
    font-size: 20px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

button:hover{
    background-color: orange;
    transform: scale(1.1);
}

button{
    border-radius: 10px;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.enlace:hover{
    color: orange;
    transform: scale(1.2);
}

.enlace{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}